{
  "appen_job": 1729469,
  "num_stimuli": 13,
  "allowed_min_time": 300,
  "injections": ['2+2=5.', 'Bananas are yellow.', 'Oranges are orange.', '4+3=9.', 'The current year is 2013.', 'The earth is round.', 'France is in Europe.', '3+2=5.', 'Tomatoes are red.', '2+4=6.'],
  "injections_answers": [0, 1, 1, 0, 0, 1, 1, 1, 1, 1],
  "allowed_mistakes_injections": 3,
  "mask_id": 10000000,
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "file_cheaters": "/_output/cheaters.csv",
  "path_stimuli": "/public/video/stimuli",
  "mapping_stimuli": "/public/video/stimuli/mapping.csv",
  "plotly_template": "plotly_dark"
}